html {
  box-sizing: border-box; }

*,
::before,
::after {
  box-sizing: inherit; }

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; }

.gray-border {
  border: 2px solid gray; }

.padding2em {
  padding: 2em; }

#foot {
  width: 30em; }

/*flexbox*/
.display-flex {
  display: flex; }

.flex-row {
  flex-direction: row; }

.flex-wrap {
  flex-wrap: wrap; }

.flex-column {
  flex-direction: column; }

.align-items-center {
  align-items: center; }

.justify-content-between {
  justify-content: space-between; }

.justify-content-center {
  justify-content: center; }

.justify-content-space-around {
  justify-content: space-around; }

.justify-content-space-evenly {
  justify-content: space-evenly; }

.align-items-center {
  align-items: center; }

/*grid*/
.justify-content-stretch {
  justify-content: stretch; }

.display-grid {
  display: grid; }

.grid-template-columns-4 {
  grid-template-columns: repeat(4, 1fr); }

.grid-template-columns-2 {
  grid-template-columns: repeat(2, 1fr); }

.justify-items-center {
  justify-items: center; }

.place-self-center {
  place-self: center; }

.justify-self-center {
  justify-self: center; }

.align-items-center {
  align-items: center; }

.grid-gap {
  gap: 2px; }

fieldset {
  margin-inline: 2px;
  border: none;
  padding-block: 0;
  padding-inline: 0;
  min-inline-size: 1em; }

legend {
  display: contents; }

.default-color-scheme {
  background-color: MidnightBlue;
  background-color: #3a4764;
  color: Snow;
  color: white; }
  .default-color-scheme .three-toggle-switch #toggle, .default-color-scheme #keypad, .default-color-scheme #keypad-rest {
    background-color: DarkBlue;
    background-color: #232c43; }
  .default-color-scheme .toggle__slider {
    background-color: Carnelian;
    background-color: #d03f2f; }
  .default-color-scheme input[class='calculate'] {
    background-color: Coral1;
    background-color: #eae3dc;
    color: DodgerBlue4;
    color: #444b5a; }
  .default-color-scheme .double-width {
    background-color: Carnelian;
    background-color: #d03f2f; }
  .default-color-scheme .white-font {
    color: Snow;
    color: white; }
  .default-color-scheme input[value='reset'], .default-color-scheme input[value='del'] {
    background-color: #b1e1f6; }
  .default-color-scheme #output-parent {
    background-color: DarkBlue;
    background-color: #232c43; }

.calculator-container .font-size-3-em {
  font-size: 3em; }
.calculator-container thead tr {
  padding: 0 1.5em; }
.calculator-container #output-parent {
  height: 3em;
  max-height: 1.2em;
  margin-bottom: 1em; }
.calculator-container .three-toggle-switch #toggle {
  position: relative;
  width: fit-content;
  height: 4em;
  border-radius: 35px;
  /*User toggles the toggle button , check if theme1 is selected..., if it is , toggle button should be left aligned with left:0*/
  /*User toggles the toggle button (check if theme2 is selected, if it is, toggle button should be left aligned with left:3em*/
  /*User toggles the toggle button (check if theme3 is selected, if it is, toggle button should be left aligned with left:6em*/ }
  .calculator-container .three-toggle-switch #toggle .toggle__wrapper {
    position: relative; }
  .calculator-container .three-toggle-switch #toggle input[type="radio"] {
    width: 40px;
    height: 40px;
    opacity: 0; }
    .calculator-container .three-toggle-switch #toggle input[type="radio"]:focus ~ .toggle__slider {
      cursor: pointer; }
  .calculator-container .three-toggle-switch #toggle .toggle__slider {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
    border-radius: 50%;
    transition: all 0.8s ease-out; }
  .calculator-container .three-toggle-switch #toggle #theme-1:checked ~ .toggle__slider {
    left: 0; }
  .calculator-container .three-toggle-switch #toggle #theme-2:checked ~ .toggle__slider {
    left: 3em; }
  .calculator-container .three-toggle-switch #toggle #theme-3:checked ~ .toggle__slider {
    left: 6em; }
.calculator-container form {
  height: 100vh; }
.calculator-container table {
  width: 30em; }
.calculator-container .input-outer {
  width: 40em;
  height: 30em; }
.calculator-container input[type='button'] {
  width: 9em;
  height: 6em;
  border-radius: 20px; }
.calculator-container input.double-width {
  width: 21em;
  max-width: 7.4em; }
.calculator-container #output {
  padding: 0.5em 0.5em; }
.calculator-container .uppercase {
  text-transform: uppercase; }
.calculator-container .font-size-2-4em {
  font-size: 2.4em;
  max-width: 3em;
  max-height: 2em; }

footer .attribution {
  font-size: 11px;
  text-align: center; }
  footer .attribution a {
    color: #3e52a3; }

/*# sourceMappingURL=calculator-app-main.css.map */
