
@import '_globals.scss';


$colors: (
  Light Grayish Cyan : hsl(180, 52%, 96%),
  Light Grayish Cyan2 : hsl(180, 31%, 95%),
  Dark Grayish Cyan: hsl(180, 8%, 52%),
  Very Dark Grayish Cyan: hsl(180, 14%, 20%),
  Desaturated Dark Cyan: hsl(180, 29%, 50%),
);
$fallback-color: (
  PaleTurquoise,PaleTurquoise2, Crystal,PaleTurquoise4,DarkCyan
);

@mixin font-color($color, $fallback-color) {
  color: $fallback-color;
  color: $color;
}

@mixin bg-color($color, $fallback-color) {
  background-color: $fallback-color;
  background-color: $color;
}


@mixin border-radius($radius...) {
  border-radius: $radius;
}
@mixin margin($args...) {
  margin: $args;
}
@mixin padding($args...) {
  padding: $args;
}


html{
  box-sizing: border-box; 
}
*,
::before,
::after {
  box-sizing: inherit;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}
.gray-border{ 
   border: 2px solid gray;
}
.padding2em{
   @include padding(2em);
}
#foot{
   width: 30em;
}

/*flexbox*/
.display-flex{
  display:flex;
}
.flex-row{
  flex-direction:row;
}
.flex-wrap{
  flex-wrap:wrap;
}
.flex-column{
   flex-direction:column;
}
.align-items-center{
   align-items: center;
}
.justify-content-between{
   justify-content: space-between;
}
.justify-content-center{
   justify-content: center;
}
.justify-content-space-around{
   justify-content: space-around;
}

/*grid*/
.justify-content-stretch{
  justify-content: stretch;
}
.display-grid{
  display:grid;
}
.grid-template-columns-4{
  grid-template-columns: repeat(4,1fr);
}
.grid-template-columns-2{
  grid-template-columns: repeat(2,1fr);
}
.justify-items-center{
  justify-items:center;
}
.place-self-center{
  place-self: center;
}
.justify-self-center{
   justify-self:center;
}
.grid-gap{
   gap:2px;
}

.calculator-container{
        
        form{
          height: 100vh;
        }
        table{
          width: 30em;
        }
        span{
           @extend .padding2em;
           @extend .gray-border;
           width: 6em;
           text-align:center;
        }
        .input-outer{
          width: 40em;
          height: 30em;
        }
        input[type='button']{
           width: 9em;
           height: 6em;
        }
        input.double-width{
            width: 21em;
        }
        #output{
           padding: 4em;
        }
        .uppercase{
           text-transform: uppercase;
        }

      
}
footer {  
   
  .attribution {
    font-size: 11px; text-align: center;
    a { 
      color: hsl(228, 45%, 44%);
    }
  }
}