
@import '_globals.scss';


$colors: (
  Light Grayish Cyan : hsl(180, 52%, 96%),
  Light Grayish Cyan2 : hsl(180, 31%, 95%),
  Dark Grayish Cyan: hsl(180, 8%, 52%),
  Very Dark Grayish Cyan: hsl(180, 14%, 20%),
  Desaturated Dark Cyan: hsl(180, 29%, 50%),
);
$fallback-color: (
  PaleTurquoise,PaleTurquoise2, Crystal,PaleTurquoise4,DarkCyan
);

@mixin font-color($color, $fallback-color) {
  color: $fallback-color;
  color: $color;
}

@mixin bg-color($color, $fallback-color) {
  background-color: $fallback-color;
  background-color: $color;
}


@mixin border-radius($radius...) {
  border-radius: $radius;
}
@mixin margin($args...) {
  margin: $args;
}
@mixin padding($args...) {
  padding: $args;
}


html{
  box-sizing: border-box; 
}
*,
::before,
::after {
  box-sizing: inherit;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}
.gray-border{ 
   border: 2px solid gray;
}
/*flexbox*/
.display-flex{
  display:flex;
}
.flex-column{
  flex-direction:column;
}
.align-items-center{
 align-items: center;
}
.justify-content-between{
 justify-content: space-between;
}
.justify-content-center{
   justify-content: center;
}

/*grid*/
.justify-content-stretch{
  justify-content: stretch;
}
.display-grid{
  display:grid;
}
.grid-template-rows-4{
  grid-template-rows: repeat(4,2em );
}
.justify-items-center{
  justify-items:center;
}
.place-self-center{
  place-self:center;
}

.calculator-container{
        table{
          width: 30em;
        }
  
        
        .uppercase{
           text-transform: uppercase;
        }
        
      
}
footer {  
   
  .attribution {
    font-size: 11px; text-align: center;
    a { 
      color: hsl(228, 45%, 44%);
    }
  }
}